<section id="lists-container" 
			 class="lists-container">
		<div class="row">
			<section class="list list-inline"
			         ng-repeat="list in ctrl.lists"
			         ng-controller="ListCtrl as ListCtrl">
				<h1>{{list.listName}}</h1>	
				
				<div class = "card" 
				     ng-repeat="card in ListCtrl.getCards(list)"
					 ng-controller="CardCtrl as CardCtrl"
					 >
					
					<div draggable="true"
					 	onDragStart="CardCtrl.drag()">
						{{card.title}}						 
						 
						<div ng-click = "CardCtrl.deleteCard(card)"
							class = "remove-small remove-card hand">
						</div>
					</div>					
				</div>
				
				<a ng-click="ListCtrl.removeList(list)" class="hand">
					<div class="remove remove-list"></div>
				</a>
				<a class="hand" ng-click="ListCtrl.showList($event, list)">					
					<div class="edit-list">View/Edit</div>
				</a>	
				
				<section class="new-card">
					<form ng-submit="ListCtrl.createCard(list)">
						<input type="text"
						       ng-model="ListCtrl.cardTitle"
							   class="card-input"
							   placeholder="New card">
						</input>
					</form>
				</section>
				
			</section>
								
			<section class = "list new-list list-inline">
			
				<form ng-submit="ctrl.addList()">
					<input type = "text" ng-model="ctrl.listName">
					</input>
					
				</form>
			<section>
		</div>		
	</section>