<md-dialog ng-cloak class="modal">
  
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{list.listName}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          X
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div  class = "card" 
            ng-repeat="card in getCards(list)"
            ng-controller="CardCtrl as CardCtrl"
            >          
          <div ng-if='!CardCtrl.isEditing'
            draggable="true"
            onDragStart="CardCtrl.drag()">
            <div class="wraper">
              <label class="label">Card Title</label>
              <p>{{card.title}}</p>
            </div>
            <div class="wraper">
              <label class="label">Card Description</label>
              <p>{{card.description}}</p>
            </div>
            <div class="wraper">
              <label class="label">Card Finish date</label>
              <p>{{card.finishDate.toLocaleString("ru",{year: 'numeric', month: 'long', day: 'numeric'})}}</p>
            </div>
          
            <div ng-click="CardCtrl.editCard(card)"
              class="edit-small edit-card hand">
            </div>   
             
            <div ng-click = "CardCtrl.deleteCard(card)"
              class = "remove-small remove-card hand">
            </div>
          </div>
          <div ng-if="CardCtrl.isEditing">               
            <form ng-submit="CardCtrl.updateCard(card)">                  
              <label>Title
                <input type="text" 
                       close-editing
                       is-editing="CardCtrl.isEditing"
                       ng-model="CardCtrl.editingCard.title">
                </input>
              </label>
              <label>Description
                <input type="text" 
                       close-editing
                       is-editing="CardCtrl.isEditing"
                       ng-model="CardCtrl.editingCard.description">
                </input>
              </label>
              <label>Fifish Date
                <input type="date" 
                       close-editing
                       is-editing="CardCtrl.isEditing"
                       ng-model="CardCtrl.editingCard.finishDate">
                </input>
              </label>
              <label>Select List
                <select class="select-list"
                        ng-model="CardCtrl.editingCard.list_id"
                        ng-change="CardCtrl.updateCard()"
                        ng-options="list.id as list.listName for list in lists"> 
                </select> 
              </label>             
              <button class="button" ng-click="CardCtrl.updateCard(card)">save</button>
            </form>
          </div>
        </div>
        <section class="new-card">
          <form ng-submit="createCard(list)">
            <input type="text"
                   ng-model="cardTitle"
                 class="card-input"
                 placeholder="New card">
            </input>
          </form>
        </section>
    </md-dialog-content>    
</md-dialog>